body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:white;
    color: rgb(118, 108, 108);

}

/* header styles */
#headings{
    text-align: center;
    margin: -20px auto;
    padding-bottom: 2rem;
    color: rgb(118, 108, 108);
    background-color:whitesmoke ;

}

.btn{
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn-alt{
    background-color: transparent;
    border-color: transparent;
    
}
.btn:hover{
    background-color: blue;
    border-color: blue;
    color: whitesmoke;
}
.btn-alt{
    background-color: blue;
    border-color: blue;
    color: whitesmoke;
}

/* modal styles */

.setup-aside{
    text-align: center;
}
.modal{
    position: fixed;
    top: 20%;
    left: 25%;
    width: 90%;
    background-color:whitesmoke;
    color: black;
    padding: 1rem;
    
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}

@media (min-width: 48rem){
    .modal{
        left: calc(50%-20rem);
        width:40rem;
    }
}
.modal-2{
    position: fixed;
    top: 20%;
    left: 25%;
    width: 90%;
    background-color: white;
    color: black;
    padding: 1rem;
    padding-left: 6rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
}

#drawback{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    display: none;
}

/* player styles */

#active-game{
    text-align: center;
    margin: 2rem 0 5rem 0;
    display: none;
}
#game-over{
   width: 90%;
   max-width: 40rem;
   margin: auto;
   padding: 1rem 2rem; 
   background-color: rgb(118, 108, 108);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0,2);
    border-radius: 4px;
    display: none;

}
#game-over h3{
    font-size: 2.5rem;
    margin: 0.5 0;
}
#active-player-name{
    font-weight: bold;
    color: rgb(118, 108, 108);
}

/* game board style */

#game-board{
    padding-top: 2rem;
    list-style: none;
    margin: 4rem 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 6rem);
    grid-template-rows: repeat(3,6rem);
    justify-content: center;
    gap: 0.5rem;

}

#game-board li{
    background-color: lightblue;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    
}

/* game configuration */

#config-overlay{
    text-align: center;
}
#config-overlay h2 {
  margin: 0.5rem 0;
}
.form-control{
    margin: 0.5 0;
    padding: 0;
    text-align: center;
    


}
.form-control label{
    margin-bottom: 0.5rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
}
.form-entry{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding-left: 13rem;
}
.form-control input{
    font: inherit;
    border: 1px solid rgb(204, 204, 204);

}
.form-entry{
    padding-bottom: 1rem;

}

.error label{
    color: rgb(136, 2, 2);
}

.error input{
    border-color: rgb(136, 2, 2);
    color: rgb(136, 2, 2);
    background-color: rgb(253, 219, 219);
}

#game-config{
    width: 90%;
    max-width: 40%;
    margin: 3rem auto;
    text-align: center;
}

#game-config ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#game-config li{
    margin: 1rem;
    width: 50%;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1 4px rgba(0, 0, 0, 0.2);  
}

#game-config img{
    width: 3rem;
}


#game-config h3{
    font-size: 1.5rem;
    margin: 0.5rem,0;
    color: rgb(118, 108, 108);
}
.player-symbol{
    color:  rgb(118, 108, 108);
}